---
services:
  radarr:
    image: darkalex17/radarr-mock:latest
    container_name: radarr-mock
    restart: unless-stopped

  sonarr:
    image: darkalex17/sonarr-mock:latest
    container_name: sonarr-mock
    restart: unless-stopped

  prowlarr:
    image: darkalex17/prowlarr-mock:latest
    container_name: prowlarr-mock
    restart: unless-stopped

  managarr:
    image: darkalex17/managarr
    stdin_open: true
    tty: true
    volumes:
      - "${MANAGARR_CONFIG:-./mock-htpc/managarr/config.yml}:/root/.config/managarr/config.yml:ro"
    depends_on:
      radarr:
        condition: service_started
      sonarr:
        condition: service_started
      prowlarr:
        condition: service_started
